.astronomyPicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.astronomyPicOfTheDayImg {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: 2rem;
}

.roverPhotoContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 16px;
  justify-content: space-between;
}

.roverPhotoItem {
  flex: 0 0 15rem;
  box-sizing: border-box;
}

.nasaPicOfTheDayImg {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
