.footer {
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  background-color: #eee;
  color: #000;
  padding: var(--spacing-20) var(--spacing-40);
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  gap: var(--spacing-20);
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
.footer div {
  flex: 1 1 1rem;
  max-width: 33%;
  display: flex;
  flex-direction: column;
}
.footer h3 {
  color: #000;
  font-size: large;
  padding: var(--spacing-08) 0;
}

.footer p,
.footer a,
.footer li {
  color: #000;
  font-size: medium;
  font-weight: 200;
  text-align: start;
}

.footerDescription {
  max-width: 300px;
  text-align: start;
}

.footerDescription p {
  margin-block-end: var(--spacing-20);
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerListPages {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerListMedia li,
.footerListPages li {
  padding-block: var(--spacing-04);
}

@media (max-width: 768px) {
  .footer h3 {
    font-size: medium;
  }

  .footer p,
  .footer a,
  .footer li {
    font-size: small;
  }

  .socialIcon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .footer > div {
    max-width: 100%;
    flex: 1 1 auto;
    align-items: center;
  }
}

.socialListItem {
  display: flex;
  align-items: flex-start;
  margin: 0;
}
.socialIcon {
  width: 20px;
  height: 20px;
  margin-right: var(--spacing-08);
  object-fit: contain;
}

.socialListItem span {
  display: inline-block;
  vertical-align: top;
}
